.board-wrapper {
  display: grid;
  grid-template-areas: "player-1"
    "board "
    "player-2";
  grid-template-rows: auto 1fr auto;
  min-height: 480px;
  max-height: 100%;
  aspect-ratio: 1 / 1;
}

.board {
  grid-area: board;
}

.player-1-container {
  grid-area: player-1;
}

.player-2-container {
  margin-top: 32px;
  grid-area: player-2;
}